*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-header {
    margin-top: 10%;
    font-size: 42px;
    opacity: 0.5;
    font-family: 'Roboto', sans-serif;
}

.input {
    display: block !important;
    margin-bottom: 20% !important;
}